node_modules/
dist/
.env
.env_prd
storage/session.json
storage/chatgpt-session.json
storage/manual-cookies.json
storage/manual-localstorage.json
storage/downloads/
storage/uploads/
storage/debug/
storage/chatgpt-results/
storage/generated/
storage/queue.json
storage/gpt-queue.json
storage/*
